#productos_recomendados {
  background-color: lightgray;
  height: 400px;
}

#productos_recomendados .tituloProductosRecomendados {
  font-family: 'Roboto Serif', sans-serif;
  text-align: center;
  margin-bottom: 100px;
}

#productos_recomendados .productos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

#productos_recomendados .productos .imagenes {
  border: 2px solid black;
  -webkit-transition: 1s;
  transition: 1s;
}

#productos_recomendados .productos .imagenes:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#productos_recomendados .productos .descripcionProductoIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  text-align: center;
}

@media (max-width: 768px) {
  #productos_recomendados .productos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#nosotros {
  background-color: lightgray;
}

#nosotros .tituloNosotros {
  display: -ms-grid;
  display: grid;
  text-align: center;
  font-size: 60px;
  margin-bottom: 100px;
  font-family: 'Roboto Serif', sans-serif;
}

#nosotros .gridNosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#nosotros .gridNosotros .nosotrosParrafo {
  color: white;
  background-color: black;
  font-size: 37px;
}

@media (max-width: 768px) {
  #nosotros .gridNosotros {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

#bloqueProductos {
  background-color: lightgray;
}

#bloqueProductos .tituloProductos {
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
  font-family: 'Roboto Serif', sans-serif;
}

#bloqueProductos .productosMuestra {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 100px;
  margin-bottom: 100px;
}

#bloqueProductos .productosMuestra img {
  border: 2px solid black;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#bloqueProductos .productosMuestra img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#bloqueProductos .productosMuestra .descripcionProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

@media (max-width: 768px) {
  #bloqueProductos .productosMuestra {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 100px;
  }
}

#direccion {
  background-color: lightgray;
}

#direccion .direccionTitulo {
  text-align: center;
  margin-bottom: 100px;
  font-family: 'Roboto Serif', sans-serif;
}

#direccion .mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contacto {
  background-color: lightgray;
}

#contacto .tituloContacto {
  text-align: center;
  font-size: 60px;
  margin-bottom: 100px;
  font-family: 'Roboto Serif', sans-serif;
}

#contacto .horarioYformulario {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100PX;
}

@media (max-width: 768px) {
  #contacto .horarioYformulario {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

#contacto .horarioYformulario .horario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto .horarioYformulario .formulario {
  border: 2px solid black;
}

#contacto .horarioYformulario .formulario .mensaje, #contacto .horarioYformulario .formulario .tituloContacto {
  text-align: center;
}

#footer {
  background-color: lightslategrey;
}
/*# sourceMappingURL=estilo.css.map */