//vars //
$border: 2px solid black;
//list //
$colores:(
    principal: lightgray,
    pieDePagina: lightslategrey
);
//mixn//
@mixin imagen {
    height: 250px ;
    width: 250px ;
}
////////////////////////////////////////////////////////////////////////////////////////////////////


//index //
#productos_recomendados{
    background-color: map-get($map: $colores, principal);
    height: 400px;
    .tituloProductosRecomendados{
        text-align: center;
    }
    }
    .productos{
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
        .imagenes{
            border: $border;
            transition: 1s;
        }
        .imagenes:hover{
            @include imagen
        }
        .descripcionProductos{
            color: black;
            text-align: center;
        }
}
//nosotros //
#nosotros{
    .tituloNosotros{
        display: grid;
        text-align: center;
        font-size: 60px;
        background-color: map-get($map: $colores, principal);    
    }
    .gridNosotros{
        display: grid;
        grid-template-columns: repeat(2,1fr);

        .nosotrosParrafo{
            color: white;
            background-color: black;
            font-size: 37px 
        }
    }
}
//productos //
#bloqueProductos{
background-color: map-get($map: $colores, principal);    
    .tituloProductos{
        text-align: center;
        font-size: 50px;
    }
    .productosMuestra{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content:center;
        
        img{
            border:$border;
            transition: all 1s;
        }
        
        img:hover{
            @include imagen
        }
        
        .descripcionProductos{
            display: flex;
        text-align: center;
        }
    }
}
//direccion //
#direccion{
    background-color: map-get($map: $colores, principal);
    .direccionTitulo{
        text-align: center;
    }
    .mapa{
        display: flex;
        justify-content: center;
        
    }
}


//contacto //
#contacto{
    background-color: map-get($map: $colores, principal);  
    background-size: cover;
    .tituloContacto{
        @extend .mensaje;
        font-size: 60px;
    }
    .horarioYformulario{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        .horario{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
        }
        .formulario{
            border: $border;
            .mensaje{
                text-align: center;

            }
        }
    }
}


//footer //
#footer{
    background-color: map-get($map: $colores, pieDePagina);
}
